<div class='pb-2'>
  <span class='h3'>Abrigados</span>
  <%= link_to 'Novo', new_sheltered_path, class: 'float-end btn btn-primary' %>
</div>
<hr />
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @sheltereds.each do |sheltered| %>
      <tr>
        <td>
          <% if policy(sheltered).show? %>
            <%= link_to sheltered.name, sheltered %>
          <% else %>
            <%= sheltered.name %>
          <% end %>
        </td>
        <td class='col-1'>
          <% if policy(sheltered).edit? %>
            <%= link_to 'Editar', edit_sheltered_path(sheltered) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>