<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: I18n.t(resource.class.name.downcase, scope: [:activerecord, :models]).downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
