<%= form_for([sheltered, ShelteredMedicalLog.new], data: { controller: :form, action: "turbo:submit-end->form#clear" }) do |f| %>
  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :description, class: 'form-label', required: true %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class='row mt-3 mb-5'>
    <div class='col-12'>
      <%= f.submit "Adicionar", class: 'btn btn-primary w-100 py-2' %>
    </div>
  </div>
<% end %>