<div class='pb-2'>
  <span class='h3'>Add Voluntário - <%= l(@work_schedule.scheduled_date) %></span>
</div>
<hr />

<%= render 'shared/error_messages', resource: @volunteer_work_schedule %>

<%= render 'form' %>
