<%= form_for(@work_schedule) do |f| %>
  <div class='row mt-3'>
    <div class='col-12'>
      <%= f.label :scheduled_date, class: 'form-label' %>
      <%= f.text_field :scheduled_date,
        value: f.object.scheduled_date ? l(f.object.scheduled_date) : nil,
        class: 'form-control',
        autofocus: true,
        placeholder: '99.99.9999',
        data: { controller: 'mask', 'mask-type-value': 'date' }
      %>
    </div>
  </div>
  <div class='row mt-3 mb-5'>
    <div class='col-12'>
      <%= f.submit "Salvar", class: 'btn btn-primary w-100 py-2' %>
    </div>
  </div>
  <hr />
<% end %>